<script>
  import "./global.css";
  import router from "page";
  import qs from "qs";
  import { qparam } from "./stores/qparam";
  import { path } from "./stores/path";
  import Guest from "./components/guest.svelte";
  import Search from "./components/search.svelte";
  import Login from "./components/login.svelte";
  import Signup from "./components/signup.svelte";
  import Footer from "./components/footer.svelte";
  import Hidden from "./components/hidden.svelte";
  import Pinned from "./components/pinned.svelte";
  import About from "./components/about.svelte";

  let page;

  router((context, next) => {
    path.set(context.pathname);
    const query = context.path.replace(/^.*\?/, "");
    qparam.set(qs.parse(query));
    next();
  });
  router("/login", () => (page = Login));
  router("/signup", () => (page = Signup));
  router("/about", () => (page = About));
  router("/guest*", () => (page = Guest));
  router("/hidden", () => (page = Hidden));
  router("/pinned", () => (page = Pinned));
  router("/*", () => (page = Search));
  router.start();
</script>

<div>
  <svelte:component this={page} />
  <Footer />
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 min(2em, 5vw);
  }
</style>
