:root {
  --accent0: #63adf2;
  --accent1: #ade9a1;
  --accent2: #d4acee;
  --error: #da0a0a;
  --white: #fafafa;
  --visited: #bb92be;
  --gray: #545e75;
  --black: #3a3c41;

  font-family: "Source Sans Pro", sans-serif;
  background-color: var(--white);
}

html {
  box-sizing: border-box;
}

body {
  height: 100vh;
  max-width: 1200px;
  margin: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
  color: var(--black);
}

#error {
  color: var(--error);
}

