<script>
  import { onMount } from "svelte";
  import page from "page";
  import api from "../services/api";

  let count;
  onMount(() => {
    api
      .getCount()
      .then((res) => (count = res.count))
      .catch();
  });
</script>

<div>
  <p>
    This website collects job listings from multiple sources and provides a
    search engine to browse them.
  </p>
  {#if count}
    <p>Total of <strong>{count}</strong> job vacancies have been collected.</p>
  {/if}
  <p>Older listings are bound to be out-of-date and links will be dead.</p>
  <a href={"/"} on:click={() => page("/")}>Search and browse vacancies.</a>
</div>

<style>
  div {
    margin: auto;
    margin-top: 3em;
  }
  p,
  a {
    margin: 0.5em;
    font-size: 1.25em;
    max-width: 500px;
  }
  p + p {
    margin-top: 1em;
  }
  a {
    display: block;
    text-align: center;
  }
</style>
