<script>
  import page from "page";
</script>

<div>
  <a href={"https://gitlab.com/seppoki/va"}> GitLab </a>
  <span>&middot;</span>
  <a href={"/about"} on:click|preventDefault={() => page("/about")}> About </a>
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    margin-top: auto;
    padding: 0.6em;
  }
  a {
    margin: 0 0.4em;
  }
  span {
    font-weight: 900;
  }
</style>
