<script>
  import { iobserve } from "@shibiii/svelte-iobserve";
  import { groupBy } from "../services/util.js";
  import { formatTimestamp } from "../services/util";

  export let results;
  export let more;
  export let loading;
  export let threshold;
  export let buttons;
  $: groups = groupBy(
    results.filter((vacancy) => vacancy.rank > threshold),
    "header"
  );
</script>

<div id="vacancies">
  {#each Object.entries(groups) as [header, group]}
    <div class="vacancy">
      <strong>{header}</strong>
      {#each buttons as button (button.label)}
        <button
          on:click={() => {
            for (const vac of group) button.func(vac.id);
          }}>{button.label}</button
        >
      {/each}
      {#each group as vacancy}
        {#if vacancy.rank > threshold}
          <div class="link">
            &bull;
            <a href={vacancy.url}>
              {vacancy.source}
              <span>&middot;</span>
              <span>{formatTimestamp(vacancy.ts)}</span>
            </a>
          </div>
        {/if}
      {/each}
    </div>
  {/each}
  {#if !loading && results.length > 0}
    <div id="loader" on:intersection={more} use:iobserve={{ cooldown: 500 }} />
  {/if}
</div>

<style>
  .vacancy {
    padding: 0.8em;
  }
  #vacancies {
    margin-top: 1em;
  }
  #vacancies > :global(:nth-child(odd)) {
    background-color: #00000011;
  }
  .link {
    margin-top: 0.3em;
  }
  a:visited,
  a:visited > * {
    color: var(--visited);
  }
  #loader {
    height: 32px;
    background-color: inherit;
    visibility: hidden;
  }
  button {
    cursor: pointer;
    margin-left: 0.3em;
    vertical-align: text-bottom;
    font-size: 0.6em;
    font-weight: bold;
    padding: 2px;
    background-color: #00000009;
    color: #00000088;
    outline: none;
    border: 1px solid #00000011;
    border-radius: 5px;
  }
  button:hover {
    background-color: #00000055;
  }
</style>
