<script>
  import page from "page";
  import qs from "qs";

  import api from "../services/api";
  import { qparam } from "../stores/qparam";
  import SearchForm from "./searchForm.svelte";
  import Results from "./results.svelte";

  let limit = 100;
  let results = [];
  let loading = false;
  let buttons = [];
  let lastLoaded = false;
  let terms;

  $: {
    if ($qparam.terms) {
      terms = $qparam.terms;
      api
        .ftsGuest({ terms: $qparam.terms, limit: $qparam.limit })
        .then((res) => (results = res))
        .catch();
    }
  }

  const search = (terms) => {
    page("/guest?" + qs.stringify({ terms, limit }));
  };

  const more = () => {
    if (!lastLoaded && $qparam.terms) {
      loading = true;
      api
        .ftsGuest({
          terms: $qparam.terms,
          limit: $qparam.limit,
          offsetId: results[results.length - 1].id,
        })
        .then((res) => {
          loading = false;
          if (res.length == 0) lastLoaded = true;
          results = [...results, ...res];
        })
        .catch(() => (loading = false));
    }
  };
</script>

<SearchForm {search} {terms} />

<Results {results} {more} {loading} {buttons} />
