<script>
  import page from "page";
  import api from "../services/api";
  let email;
  let password;
  let error;
  const login = () => {
    error = null;
    api
      .login(email, password)
      .then((res) => page("/"))
      .catch((err) => (error = "failed to login"));
  };
  const signup = () => {
    page("/signup");
  };
  const guest = () => {
    page("/guest");
  };
</script>

<div class="container">
  <h1>Login to vacancy aggregator</h1>
  <form on:submit|preventDefault={login}>
    <input id="email" type="email" bind:value={email} placeholder="email" />
    <input
      id="password"
      type="password"
      bind:value={password}
      placeholder="password"
    />
    {#if error}
      <p id="error">{error}</p>
    {/if}
    <input type="submit" value="login" />
  </form>
  <p>Dont have an account? Browse vacancies as a guest?</p>
  <div class="twosidebutton">
    <button id="signup" on:click={signup}>signup</button>
    <button id="guest" on:click={guest}>guest</button>
  </div>
</div>

<style>
  .container {
    margin: auto;
    max-width: 360px;
    margin-top: 5rem;
  }
  h1 {
    color: var(--black);
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input,
  button {
    font-weight: 600;
    outline: hidden;
    border: hidden;
    font-size: 1.1em;
    padding: 0.5em;
    box-shadow: 0 0 3px 0 var(--black);
  }
  input + input {
    margin-top: 0.9em;
  }
  input[type="submit"],
  button {
    background-color: var(--accent0);
    color: var(--black);
  }
  input[type="submit"]:hover,
  button:hover {
    box-shadow: 0 0 10px 0 var(--gray);
    color: white;
  }
  p {
    text-align: center;
    margin: 0.5em 0;
    font-weight: 600;
  }
  .twosidebutton {
    display: flex;
  }
  button {
    flex-grow: 1;
  }
  button:focus {
    outline: none;
  }
</style>
