<script>
  import api from "../services/api";
  import page from "page";

  const logout = () => {
    api
      .logout()
      .then(() => page("/login"))
      .catch();
  };
</script>

<button on:click={logout}>logout</button>

<style>
  button {
    background-color: inherit;
    color: var(--accent0);
    align-self: flex-end;
    font-weight: 600;
    max-width: 4em;
    margin-top: 0.6em;
    outline: none;
    border: none;
    cursor: pointer;
  }
</style>
