<script>
  import page from "page";
  import { path } from "../stores/path";
</script>

<nav>
  <a
    href={"/search"}
    on:click|preventDefault={() => page("/search")}
    class:active={$path === "/search"}>search</a
  >
  <a
    href={"/pinned"}
    on:click|preventDefault={() => page("/pinned")}
    class:active={$path === "/pinned"}>pinned</a
  >
  <a
    href={"/hidden"}
    on:click|preventDefault={() => page("/hidden")}
    class:active={$path === "/hidden"}>hidden</a
  >
</nav>

<style>
  nav {
    margin: 0.4em auto;
  }
  a {
    color: var(--gray);
    text-decoration: none;
    font-size: 1.5em;
  }
  a.active {
    color: var(--black);
    border-bottom: 2px solid var(--black);
  }
  a + a {
    margin-left: 0.5em;
  }
</style>
