<script>
  import page from "page";
  import { onMount } from "svelte";

  import api from "../services/api";
  import Results from "./results.svelte";
  import Logout from "./logout.svelte";
  import Nav from "./nav.svelte";

  let limit = 20;
  let results = [];
  let loading = false;
  let lastLoaded = false;
  let buttons = [
    {
      label: "unpin",
      func: (id) => {
        results = results.filter((vac) => vac.id !== id);
        api.unpin(id);
      },
    },
  ];

  const more = () => {
    if (!lastLoaded && results.length > 0) {
      loading = true;
      const offsetId = results[results.length - 1].id;
      api
        .getPinned({ limit, offsetId })
        .then((res) => {
          loading = false;
          if (res.length == 0) lastLoaded = true;
          results = [...results, ...res];
        })
        .catch(() => (loading = false));
    }
  };

  onMount(() => {
    api
      .getPinned({ limit })
      .then((res) => (results = res))
      .catch((err) => page("/login"));
  });
</script>

<Logout />

<Nav />

<Results {results} {more} {loading} {buttons} />
