<script>
  import { iobserve } from "@shibiii/svelte-iobserve";
  import Vacancy from "./vacancy.svelte";

  export let results;
  export let more;
  export let loading;
  export let buttons;
  let scoreThreshold = 0.0045;
</script>

<input type="text" bind:value={scoreThreshold} />

<div id="vacancies">
  {#each results as vacancy (vacancy.id)}
    {#if !vacancy.rank || vacancy.rank > scoreThreshold}
      <div class="vacancy">
        <Vacancy {vacancy}>
          {#each buttons as button (button.label)}
            <button
              on:click={() => {
                button.func(vacancy.id);
              }}>{button.label}</button
            >
          {/each}
        </Vacancy>
      </div>
    {/if}
  {/each}
  {#if !loading && results.length > 0}
    <div id="loader" on:intersection={more} use:iobserve={{ cooldown: 500 }} />
  {/if}
</div>

<style>
  .vacancy {
    padding: 0.1em;
  }
  #vacancies {
    margin-top: 1em;
  }
  #vacancies > :global(:nth-child(odd)) {
    background-color: #00000011;
  }
  #loader {
    height: 32px;
    background-color: inherit;
    visibility: hidden;
  }
  button {
    cursor: pointer;
    margin-left: 0.3em;
    vertical-align: text-bottom;
    font-size: 0.7em;
    font-weight: bold;
    padding: 2px;
    background-color: #00000009;
    color: #00000088;
    outline: none;
    border: 1px solid #00000011;
    border-radius: 5px;
  }
  button:hover {
    background-color: #00000055;
  }
</style>
