<script>
  import page from "page";
  import qs from "qs";

  import { onMount } from "svelte";

  import api from "../services/api";
  import { qparam } from "../stores/qparam";
  import SearchForm from "./searchForm.svelte";
  import Grouped from "./grouped.svelte";
  import Logout from "./logout.svelte";
  import Nav from "./nav.svelte";

  let limit = 100;
  let results = [];
  let lastLoaded = false;
  let loading = false;
  let terms;
  let threshold = 0;
  $: maxRank = results.reduce(
    (max, current) => (current.rank > max ? current.rank : max),
    0
  );
  let buttons = [
    {
      label: "hide",
      func: (id) => {
        results = results.filter((vac) => vac.id !== id);
        api.hide(id);
      },
    },
    {
      label: "pin",
      func: (id) => {
        results = results.filter((vac) => vac.id !== id);
        api.pin(id);
      },
    },
  ];

  $: {
    if ($qparam.terms) {
      terms = $qparam.terms;
      api
        .fts({ terms: $qparam.terms, limit: $qparam.limit })
        .then((res) => (results = res))
        .catch();
    }
  }

  const search = (terms) => {
    page("/search?" + qs.stringify({ terms, limit }));
  };

  const more = () => {
    if (!lastLoaded && $qparam.terms) {
      loading = true;
      api
        .fts({
          terms: $qparam.terms,
          limit: $qparam.limit,
          offsetId: results[results.length - 1].id,
        })
        .then((res) => {
          loading = false;
          if (res.length == 0) lastLoaded = true;
          results = [...results, ...res];
        })
        .catch(() => (loading = false));
    }
  };

  onMount(() => {
    api
      .me()
      .then()
      .catch((err) => {
        page("/login");
      });
  });
</script>

<Logout />

<Nav />

<SearchForm {search} {terms} />

<input
  type="range"
  min="0"
  step={maxRank / 9}
  max={maxRank * 0.8}
  bind:value={threshold}
/>

<Grouped {results} {more} {loading} {threshold} {buttons} />
