<script>
  import init, { valid } from "parser";
  let initialized;
  init()
    .then(() => (initialized = true))
    .catch(() => (initialized = false));

  export let search;
  export let terms;

  $: isValid = initialized && terms?.length > 0 ? valid(terms) : false;
</script>

<form on:submit|preventDefault={() => search(terms)}>
  <input
    type="text"
    bind:value={terms}
    placeholder="(programmer | developer) & (junior | trainee)"
  />
  <input type="submit" value="search" disabled={!isValid} />
</form>

<style>
  form {
    display: flex;
    margin: 0.5em 0;
  }
  form > input {
    font-size: 1em;
    height: 2em;
    padding: 0.2em;
    margin-top: 1em;
    border: 1px solid var(--black);
    border-radius: 3px;
    transition: background-color ease-in-out 100ms;
  }
  form > input[type="text"] {
    flex-grow: 1;
  }
  form > input[type="submit"] {
    background-color: var(--accent0);
    cursor: pointer;
  }
  form > input:disabled {
    background-color: var(--gray);
    cursor: not-allowed;
  }
  form > input + input {
    margin-left: 0.4em;
  }

  @media only screen and (max-width: 480px) {
    form {
      flex-direction: column;
    }
    form > input + input {
      margin-left: 0em;
      margin-top: 0.4em;
    }
  }
</style>
