<script>
  import api from "../services/api";
  import page from "page";
  let email;
  let password;
  let error;
  const signup = () => {
    error = null;
    api
      .signup(email, password)
      .then((res) => api.login(email, password))
      .then((res) => page("/login"))
      .catch((err) => (error = "failed to signup"));
  };
</script>

<div class="container">
  <h1>Make a new account</h1>
  <form on:submit|preventDefault={signup}>
    <input id="email" type="email" bind:value={email} placeholder="email" />
    <input
      id="password"
      type="password"
      bind:value={password}
      placeholder="password"
    />
    {#if error}
      <p id="error">{error}</p>
    {/if}
    <input type="submit" value="signup" />
  </form>
</div>

<style>
  .container {
    margin: auto;
    max-width: 360px;
    margin-top: 5rem;
  }
  h1 {
    color: var(--black);
    margin-bottom: 1em;
    font-size: 1.5em;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    font-weight: 600;
    outline: hidden;
    border: hidden;
    font-size: 1.1em;
    padding: 0.5em;
    box-shadow: 0 0 3px 0 var(--black);
  }
  input + input {
    margin-top: 0.9em;
  }
  input[type="submit"] {
    background-color: var(--accent0);
    color: var(--black);
  }
  input[type="submit"]:hover {
    box-shadow: 0 0 10px 0 var(--gray);
    color: white;
  }
  p {
    text-align: center;
    margin: 0.5em;
    font-weight: 600;
  }
</style>
