<script>
  import { formatTimestamp } from "../services/util";

  export let vacancy;
</script>

<div>
  <p class="ts">
    <span>{formatTimestamp(vacancy.ts)}</span>
    <span>&middot;</span>
    <strong>{vacancy.source}</strong>
    <span>&middot;</span>
    {#if vacancy.rank}
      <span>match {vacancy.rank.toFixed(3)}</span>
    {/if}
    <span class="hidable"><slot /></span>
  </p>
  <a href={vacancy.url}>{vacancy.header}</a>
</div>

<style>
  div {
    padding: 0.6em 0.4em 0.8em 0.4em;
  }
  .ts {
    font-size: 0.8rem;
    color: var(--gray);
    margin: 0.1em 0;
  }
  .ts > * + * {
    margin-left: 0.2em;
  }
  p,
  strong {
    color: var(--gray);
  }
  a {
    font-size: 1.2rem;
  }
  a:visited {
    color: var(--visited);
  }
  span.hidable {
    visibility: hidden;
  }
  div:hover span.hidable {
    visibility: visible;
  }
</style>
